html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  height: 50px;
}

main {
  flex: auto;
  padding-inline: 20px;
}

footer {
  height: 25px;
  background: #ccd5f199;
  text-align: center;
}

.modal-style {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400;
  background-color: #fff;
  border: 2px solid #000;
  box-shadow: 24;
  padding: 32px;
  min-height: 70%;
}
